* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared items */

.logo h2 {
  font-size: 45;
  font-weight: 800;
}

.org_color {
  color: #fd6e0a;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 36px;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
}

.btn_2 {
  color: #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 36px;
  background-color: #ffffff;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
}

.cmn_p {
  font-size: 18;
  color: #757575;
  line-height: 30px;
}

.common-h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

/* Personal Items */

header {
  background-color: #fff8f3;
  padding-top: 51px;
  background-position: top left, bottom right;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 56px; */
  margin: 0 auto;
  align-items: center;
}

nav .nav_itm {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

.nav_itm a {
  text-decoration: none;
  color: #474747;
  font-size: 20;
}

#hero {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero .hero-inf {
  max-width: 585px;
}

#hero .hero-inf h2 {
  font-size: 45;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#hero .hero-inf h1 {
  font-size: 85;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#hero .hero-inf p {
  margin-bottom: 30px;
}

#hero .hero-inf button {
  margin-right: 30px;
}

#hero .hero-img img {
  max-width: 584px;
  vertical-align: middle;
}

#about,
#skills,
#resume {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}

#about .about-container .about-info h2 {
  margin-bottom: 30px;
}

#about .about-container .about-info p {
  margin-bottom: 30px;
  justify-content: center;
}

#about .about-container .about-card {
  display: flex;
  justify-content: space-around;
}

.about-card p {
  color: #757575;
  font-size: 20px;
  line-height: 30px;
}

.about-card h4 {
  color: #474747;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

/* CSS for Skills part */

.skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-header h2 {
  font-size: 35;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.skill-header p {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

#skills .cards-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin: 0 auto;
}

.cards-container .card-list {
  padding: 30px;
  max-width: 267px;
  /* border: 1px solid orangered; */
  box-shadow: 0 6px 50px 0 #00000027;
  align-items: left;
}

.card-list img {
  max-width: 44;
  margin-bottom: 30px;
}

.card-list h3 {
  font-size: 20px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-list p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}

/* Resume part  */

#resume .section-heading h1 {
  font-size: 35;
  font-weight: bold;
  color: #181818;
  text-align: center;
}

#resume .section-container {
  display: flex;
  padding-top: 113px;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 24px;
}

.section-container .resume-card {
  max-width: 511px;
}

.section-container .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}

.section-container .card-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}

.section-container .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.section-container .card-text {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}

.section-container hr {
  margin: 30px 0;
  color: #d1d1d1;
}

#resume .resume-btn {
  padding-top: 50px;
  text-align: center;
}
