* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared items */

.logo h2 {
  font-size: 45;
  font-weight: 800;
}

.org_color {
  color: #fd6e0a;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 36px;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
}

.cmn_p {
  font-size: 18;
  color: #757575;
  line-height: 30px;
}

/* Personal Items */

header {
  background-color: #fff8f3;
  padding-top: 51px;
  background-position: top left, bottom right;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 56px; */
  margin: 0 auto;
  align-items: center;
}

nav .nav_itm {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

.nav_itm a {
  text-decoration: none;
  color: #474747;
  font-size: 20;
}

#hero {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero .hero-inf {
  max-width: 585px;
}

#hero .hero-inf h2 {
  font-size: 45;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#hero .hero-inf h1 {
  font-size: 85;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#hero .hero-inf p {
  margin-bottom: 30px;
}

#hero .hero-inf button {
  margin-right: 30px;
}

#hero .hero-img img {
  max-width: 584px;
  vertical-align: middle;
}
